.taskbar { 
    display: grid;
    grid-template-columns: 3fr 3fr ;
    text-decoration-style: none;
}

.scheduler-container {
    height: calc(100vh);
    width: 100vw;
    background-color:#ffffff;
}
