* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dadada; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 183, 183); 
  }

  .journal-main{
      height: 100vh;
      width: 100%;
      border: none;
      padding-bottom: 1rem;
      
  }

.header {
    padding: 0.5em 5rem;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    text-decoration-style: none;
}
    .header h1{
        font-weight: normal;
        
    }
    
    .notes { grid-area: notes; height: 20rem; overflow-y: clip;}
    .kanban { grid-area: kanban; }
    .pomodoro { grid-area: pomodoro; width: 100%;}
    .smallcalendar { grid-area: smallcalendar;}
    .productivity { grid-area: productivity;}

    .components{
        display: grid;
        grid-template-areas:
            'kanban kanban kanban kanban kanban kanban notes smallcalendar'
            'kanban kanban kanban kanban kanban kanban pomodoro productivity';
        grid-gap: 1.5rem;
        width: fit-content;
        margin: auto;
    }

    .responsive{
      display: none;
    }

    @media screen and (max-width: 1025px){
      .journal-main{
      overflow-x: clip;
      overflow-y: clip;
      }

      .responsive{
        display: block;
        padding: 10rem 5rem;
        text-align: center;
      }
  }